@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get" action="@Url.Action("Search", "Shop")">
    <label for="search">Enter rate:</label>
    <input type="text" name="name" id="search" value="@ViewData["searchpattern"]" />
    <button type="submit">Submit</button>
</form>
<h2>Result</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                </tr>
            }
        }
    </tbody>
</table>
