@using SummerPracticeProject.Entities;
@using SummerPracticeProject.BLL.Interfaces;
@using Ninject;
@using System.Security.Cryptography;
@using SummerPracticeProject.Ioc;
@using SummerPracticeProject.BLL;
@using System.Text;
@{
    Layout = "~/Layouts/MainLayout.cshtml";
    var _rateLogic = DependencyResolver.Kernel.Get<IRatesLogic>();
    var _shopLogic = DependencyResolver.Kernel.Get<IShopsLogic>();
    var _userLogic = DependencyResolver.Kernel.Get<IUsersLogic>();
}
@section Header{}
<body>
    @foreach (Shops item in _shopLogic.GetAll())
    {
    <div class="shop-row">
        <div class="text-out">@item.Name @item.Address</div>
 
        
        @if (User.Identity.IsAuthenticated)
        {
            <form action="~/Pages/RatesLogic/RateSet.cshtml" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Action" value="SetRating" />
                <input type="hidden" name="ShopId" value="@item.Id">
                <button type="submit" class="button-rate">Rate</button>
                <select name="rating" id="select_type" style="float:right;">
                    <option value="none" hidden="">Choose Rating</option>
                    <option value="1">One Star</option>
                    <option value="2">Two Stars</option>
                    <option value="3">Three Stars</option>
                    <option value="4">Four Stars</option>
                    <option value="5">Five Stars</option>
                </select>
            </form>
           

        }
        else
        {
            <p class="text-out">Sign in to Rate</p>
        }

    </div>
    }
</body>