@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration Failed</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>

        <div class="container-for-form">
            <h1 class="h1-login">Registration Failed</h1>
            <form action="~/Pages/Login/SignUp.cshtml" method="post" enctype="multipart/form-data">
                <button type="submit" class="button-signin">Return to Sign Up</button>
            </form>
        </div>
</body>
</html>