@using SummerPracticeProject.Entities;
@using SummerPracticeProject.BLL.Interfaces;
@using Ninject;
@using SummerPracticeProject.Ioc;
@using SummerPracticeProject.BLL;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign In</title>
    <link href="~/Styles/Login.css" rell="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="container-for-buttons">
            <h1>Sign In</h1>
            <form action="~/Pages/Login/SignIn.cshtml" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Action" value="signin" />
                <input required maxlength="30" minlength="4" class="" type="text" id="username-signin" name="Username" value="" placeholder="Username" />

                <label class="sigin-form-label" for="password-signin">Password</label>
                <input required maxlength="30" minlength="4" class="sigin-form-input" type="password" id="password-signin" name="Password" value="" placeholder="Password" />
                <button type="submit" class="">SignIn</button>
            </form>
            <form action="~/index.cshtml" method="post" enctype="multipart/form-data">
                <button type="submit" class="">Back to main page</button>
            </form>

        </div>
    </div>
</body>
</html>

@{
    if (IsPost)
    {
        if (Request["Action"] != null &&
            Request["Action"] == "signin")
        {
            if (Request["Username"] != null &&
                Request["Password"] != null &&
                Request["Username"] != "" &&
                Request["Password"] != "")
            {
                //Code for User Logic
                var userLogic = DependencyResolver.Kernel.Get<IUsersLogic>();
                bool isUser = userLogic.Authentication(new Users()
                {
                    Login = Request["Username"] as string,
                    Password = Request["Password"] as string
                });
                if (isUser)
                {
                    FormsAuthentication.SetAuthCookie(Request["Username"], createPersistentCookie: true);
                    Response.Redirect("~");
                }
                else
                {
                    Response.Redirect("~/Pages/Login/SignInError.cshtml");
                }
            }
        }
    }
}
