@using SummerPracticeProject.Entities;
@using SummerPracticeProject.BLL.Interfaces;
@using Ninject;
@using SummerPracticeProject.Ioc;
@using SummerPracticeProject.BLL;
@using System.Security.Cryptography;
@using System.Text;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>\
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
    
        <div class="container-for-registration">
            <h1 class="h1-login">Registration</h1>
            <form class="form-signup" action="~/Pages/Login/SignUp.cshtml" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Action" value="signup" />
                <h1 class="label-unit">Name</h1>
                <input required maxlength="255" minlength="4" class="signin-form-input" type="text" name="Name" value="" placeholder="Real Name" />
                <h1 class="label-unit">Surname</h1>
                <input required maxlength="255" minlength="4" class="signin-form-input" type="text" name="Surname" value="" placeholder="Real Surname" />
                <h1 class="label-unit">City</h1>
                <input required maxlength="255" minlength="4" class="signin-form-input" type="text" name="City" value="" placeholder="City" />
                <h1 class="label-unit">Login</h1>
                <input required maxlength="30" minlength="4" class="signin-form-input" type="text" id="username-signup" name="Username" value="" placeholder="Login" />
                <h1 class="label-unit">Password</h1>
                <input required maxlength="30" minlength="4" class="signin-form-input" type="password" id="password-signup" name="Password" value="" placeholder="Password" />
                <h1 class="label-unit">Repeat password</h1>
                <input required maxlength="30" minlength="4" class="signin-form-input" type="password" name="RepeatPassword" id="repeat-password-signup" value="" placeholder="Repeat password" />

                <button type="submit" class="button-signin">SignUp</button>
            </form>
            <form action="~/index.cshtml" method="post" enctype="multipart/form-data">
                <button type="submit" class="button-signin">Back to main page</button>
            </form>
        </div>

</body>
</html>
@if (IsPost)
{
    if (Request["Action"] != null &&
        Request["Action"] == "signup")
    {
        if (
            Request["Name"] != null &&
            Request["Surname"] != null &&
            Request["City"] != null && 
            Request["Username"] != null &&
            Request["Password"] != null &&
            Request["RepeatPassword"] != null &&
            Request["Name"] != "" &&
            Request["Surname"] != "" &&
            Request["City"] != "" &&
            Request["Username"] != "" &&
            Request["Password"] != "" &&
            Request["RepeatPassword"] != "" &&
            Request["Password"] == Request["RepeatPassword"])
        {
            //User Logic
            var userLogic = DependencyResolver.Kernel.Get<IUsersLogic>();
            byte[] PasswordLocal;
            using (SHA256 sha256 = SHA256.Create())
            {
                byte[] Password = Encoding.Default.GetBytes(Request["Password"]);
                PasswordLocal = sha256.ComputeHash(Password);
            }
            try
            {
                userLogic.Add(new Users()
                {
                    Name = Request["Name"],
                    Surname = Request["Surname"],
                    City = Request["City"],
                    Login = Request["Username"],
                    Password = PasswordLocal
                });
                Response.Redirect("~/Pages/Login/RegistrationSuccess.cshtml");
            }
            catch(System.Data.SqlClient.SqlException ex)
            {
                Response.Redirect("~/Pages/Login/RegistrationFailed.cshtml");
            }
        }
    }
}