@using SummerPracticeProject.Entities;
@using SummerPracticeProject.BLL;
@using SummerPracticeProject.BLL.Interfaces;
@using SummerPracticeProject.Ioc
@using Ninject;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shops and Rates</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            @RenderSection("Header")
            <a href="~/Pages/Shops.cshtml" class="menu-element">Shops</a>
            <a href="~/Pages/Rates.cshtml" class="menu-element">Rates</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/Pages/Login/Logout.cshtml" class="menu-element">Logout</a>
                <a href="~/Pages/UserPage.cshtml" class="menu-element">@User.Identity.Name </a>

            }
            else
            {
                <a href="~/Pages/Login/SignIn.cshtml" class="menu-element">Sign in</a>
                <a href="~/Pages/Login/SignUp.cshtml"class="menu-element">Sign Up</a>
            }
        </header>


    </div>
    <div class="content">
        <div class="content-functional">
            @RenderBody()
        </div>
        
    </div>
</body>
</html>
