<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shops and rates</title>
    @Html.ActionLink("Shops and Rates", "Menu", "Menu")
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>

 @RenderBody()
</body>
</html>