<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shops and Rates</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
 @RenderBody()
</body>
</html>
